

.center-contents {
  position:absolute;
  top: 50%;
  left: 50%;
  margin-top: -450px;
  margin-left: -321px;  /* 幅の半分 */
}

.table td {
  width: 60px;
  height: 60px;
}

.stone-black {
  color: black;
}
.stone-white {
  color: white;
}
.cell {

  background-color: green;
  text-align: center;
  font-size: 3.8vw;
}
.wall {
  text-align: center;
  font-size: 3.8vw;
}

.next-ok {
  background-color: aqua;
  cursor: pointer;
}

a {
  text-decoration: none;
}
